<head>
  <meta charset="utf-8" />
  <title>Pill-Coach</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/jquery.calendar.css" />
  <link rel="stylesheet" href="/css/custom.css" />

  <!-- Incluir jQuery -->
  <script src="/js/jquery-3.1.1.min.js"></script>
  <!-- Plug-in para calendario -->
  <script src="/js/multilingual-calendar-date-picker/jquery.calendar.js"></script>
</head>
<body class="" style="padding-bottom: 50px">
  <div class="container-fluid header-app bg-primary">
    <div class="logo"></div>
    <h1 class="text-center pill-coach-text">Pill Coach</h1>
  </div>
</body>
