<% include partials/header.ejs %>
        <% var nombre %>

        <body class="bg-success" style="padding-bottom: 50px">
        <div class="container header-app">

            <div class="container-fluid header">
                <a href=""><div class="logo"></div></a>
                <h1 class="text-center pill-coach-text">Pill Coach</h1>
                <h1 class="text-white text-uppercase">
                        <span class="badge badge-light">¡Hola, <%= nombre %>!</span>
                </h1>
            </div>
        </div>
        <div class="bg-dashboard-p dashboard-p">
            <hr>
            <div class="container-fluid">
                <div class="row dashboard-row">
                    <div class= "col-sm-1 col-xs-1 buttons-column">
                        <div class="card-group button-card-group">
                            <div class="card card-medicina button-card selected-card">
                                <img class="card-img-top" src="/img/medicina.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Medicina</h5>
                                </div>
                            </div>
                            <div class="card card-agenda button-card">
                                <img class="card-img-top" src="/img/agenda.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Agenda del día</h5>
                                </div>
                            </div>
                            <div class="card card-calendario button-card">
                                <img class="card-img-top" src="/img/calendario.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Calendario</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col display-tool bg-white border border-secondary">
                    </div>
            </body>
            <% include partials/scripts-section-paciente.ejs %>