
    <% var message %>
    <head>
        <meta charset="utf-8" />
        <title>Pill-Coach</title>
        
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/custom.css" />
        
        <!-- Incluir jQuery -->
        <script src="/js/jquery-3.1.1.min.js"></script>
        </head>
        <body class="sign-in-body" style="padding-bottom: 50px">
        <div class="container-fluid header-app bg-primary">
            <div class="logo"></div>
            <h1 class="text-center pill-coach-text">Pill Coach</h1>
        </div>
         <div class="bg-sign-in">
                <div class="container card bloque-sign">
                    <form class="container-fluid login-container" action="/authenticate" method="POST">
                        <br>

                        <h5 class="card-title">Iniciar sesión</h5>
                        <div class="input-group mb-3">

                            <div class="input-group">

                                <span class="input-group-text" id="basic-addon1">@</span>
                                <input class="form-control" name="usuario" type="text" id="usuario" required placeholder="Usuario" required>
                            </div>
                        </div>
                        <br>
                        <input class="form-control" name="password" type="password" id="password" required placeholder="Contraseña" required>
                        <br>

                        <input class="form-control btn btn-primary login-btn" type="submit" name="Submit" value="INICIAR">
                        <br>
                        <p class="text-center text-danger">
                            <%= message %>
                        </p>
                        ¿No tiene una cuenta?
                        <br>
                        <a href="sign-up">REGISTRARSE</a>
                    </form>
                    <br>
                    <hr>

                    <footer class="container">
                        &copy;2018 - PILL-COACH
                    </footer>
                </div>
            </div>
        </body>
        <script>

        </script>

        </html>